extends layout
block content
    h1(class="title text-center") Nim
    div(class="homepage d-flex justify-content-center align-items-center flex-column")
        button(type="button" class="btn-home-game") Play Game
        div(class="container")
            div(class="row justify-content-md-center")
                div(class="col-3")
                    table(class="highscore-table ")
                        thead
                            tr(class="row justify-content-center")
                                th(class="col-4") Highscores
                        thead
                            tr
                                th(scope="col" class="col-6 col-md-4") Name
                                th(scope="col" class="col-6 col-md-4") Time
                        tbody
                            each item in entries
                                tr
                                    th(scope="row")
                                    td #{item.name}
                                    td #{item.timeStr}
                div(class="col-3") 
                    table(class="person-table")
                        thead
                            tr
                                th #{name}
                        thead
                            tr
                                th(scope="col" class="col-6 col-md-4") Wins
                                th(scope="col" class="col-6 col-md-4") Loss
                        tbody
                            tr
                                th(scope="row")
                                td #{wins}
                                td #{loss}
                        thead
                            tr(class="row justify-content-center")
                                th(scope="col" class="col-4") Win Percentage
                        tbody
                            tr
                                th(scope="row")
                                td #{percentage}  

    div(class="game-setting container text-center")
        form(action="/" method="POST")
            div(class="container")
                div(class="row")
                    div(class="col text-center")
                        p(href="#" class="section-title  mt-2") Modes
                        div(class="btn-group btn-group-toggle" data-toggle="buttons")
                            label(class="btn btn-outline-primary btn-mode active" id="pvpLbl") Player vs Player
                                input(type="radio" name="gameMode" id="pvp" value="pvp" autocomplete="off" onclick="checkMode(event)" checked)
                            label(class="btn btn-outline-primary btn-mode" id="pvcLbl") Player vs Computer
                                input(type="radio" name="gameMode" id="pvc" value="pvc" autocomplete="off" onclick="checkMode(event)")
                        //- button(type="button" data-bs-toggle="button" class="btn btn-outline-primary btn-mode") Player vs Player
                        //- button(type="button" data-bs-toggle="button" class="btn btn-outline-primary btn-mode") Player vs Computer
            div(class="container")
                div(class="row")
                    div(class="col text-center")
                        p(class="section-title  mt-2") Difficulty
                        div(class="btn-group btn-group-toggle" data-toggle="buttons")
                            label(class="btn btn-outline-danger active" id="easyLbl") Easy
                                input(type="radio" name="difficulty" id="easy" value="easy" autocomplete="off" onclick="checkDiff(event)" checked)
                            label(class="btn btn-outline-danger" id="mediumLbl") Medium
                                input(type="radio" name="difficulty" id="medium" value="medium" autocomplete="off" onclick="checkDiff(event)")
                            label(class="btn btn-outline-danger" id="hardLbl") Hard
                                input(type="radio" name="difficulty" id="hard" value="hard" autocomplete="off" onclick="checkDiff(event)")
                            //- input(type="radio" class="btn-check" name="gameMode" id="dangerButton easyMode" autocomplete="off")
                            //- label(class="btn btn-outline-danger" for="easyMode") Easy
                            //- input(type="radio" class="btn-check" name="gameMode" id="dangerButton mediumMode" autocomplete="off")
                            //- label(class="btn btn-outline-danger" for="mediumMode") Medium
                            //- input(type="radio" class="btn-check" name="gameMode" id="dangerButton hardMode" autocomplete="off")
                            //- label(class="btn btn-outline-danger" for="hardMode") Hard
                        //- button(type="button" id="dangerButton" data-bs-toggle="button" class="btn btn-outline-danger btn-level") Easy
                        //- button(type="button" id="dangerButton" data-bs-toggle="button" class="btn btn-outline-danger btn-level") Medium
                        //- button(type="button" id="dangerButton" data-bs-toggle="button" class="btn btn-outline-danger btn-level") Hard
            div(class="form-check text-center mt-2")
                input(class="form-check-input" type="radio" name="winCondition" value="lastWins" id="defaultWinCondition")
                label(class="form-check-label" for="defaultWinCondition") Person that takes the last piece wins
            div(class="form-check text-center mt-2 mb-2")
                input(class="form-check-input" type="radio" name="winCondition" value="lastLoses" id="secondaryWinCondition" checked)
                label(class="form-check-label" for="secondaryWinCondition") Person that takes the last piece loses
            button(type="button" onclick="showNameBox()") Continue
            div(class="container" id="nameContainer")
                div(class="row")
                    div(class="col text-center")
                        input(type="text" name="name" id="name" placeholder="Enter Your Name") 
                        input(type="text" name="name2" id="name2" style="Visibility: Hidden" placeholder="Enter Your Name") 
                button(type="submit" id="playButton" class="btn btn-outline-dark btn-submit") Play
        button(type="button" class="btn btn-link btn-help") Help
    script(src="/js/home.js")